
#container {
  display: flex;
  justify-content: center;
}

.paragraph{
font-size: 60px;
line-height: 60px;
font-family: 'Permanent Marker', cursive;
text-align: center;




}


html,body{
	min-height: 100%;
}
body{
	background-image: radial-gradient(mintcream 0%, gray 100%);
	font-family: "Trebuchet MS";
}
.wrap{
	width: 500px;

	margin: 50px auto;
	border-radius: 20px;
	border: solid 8px #2c3033;
	background: white;
	box-shadow: 0 0 0px 1px rgba(255,255,255,.4),
						0 0 0px 3px #2c3033;
}